

/* Глобальные стили */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  color: #1f2937;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-weight: 600;
  color: #111827;
  margin: 0 0 10px 0;
}

/* Меню */
nav a {
  font-weight: 500;
  text-decoration: none;
  color: #1f2937;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.2s;
  
}

nav a:hover {
  color: #2563eb;
}

/* Чат и калькулятор */
input, button, select {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #c3c1c1;
  padding: 8px 10px;
  margin: 10px 0 10px;
}

button {
  background-color :#1f1f1f ;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s;

}

button:hover {
  background-color: #505452;
}

/* Цифры ровно выравнены */
.numeric {
  font-variant-numeric: tabular-nums;
}
main {
  margin-top: 60px;
}
/* Секции */
section {
  margin-bottom: 40px;
  
}

/* Футер */
footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
p {
  text-align: justify
}
input {
   width: 100%;

}
.icon {

  display: flex;
  gap: 8px;
  align-items: center;

}
.selection {
  margin-bottom:10px;
}
